---
import Tailwind from "../components/icons/Tailwind.astro";
import React from "../components/icons/React.astro";
import TypeScript from "../components/icons/TypeScript.astro";
import SocialPill from "./icons/SocialPill.astro";
import GithubIcon from "../components/icons/Github.astro";
import Javascript from "../components/icons/Javascript.astro";
import Html from "../components/icons/Html.astro";
import CSS from "../components/icons/CSS.astro";
import AstroIcon from "./icons/AstroIcon.astro";

const TAGS = {
  TAILWIND: {
    name: "",
    class: "border border-white/10 bg-white/5",
    icon: Tailwind,
  },
  REACT: {
    name: "",
    class: "border border-white/10 bg-white/5",
    icon: React,
  },
  TYPESCRIPT: {
    name: "",
    class: "border border-white/10 bg-white/5",
    icon: TypeScript,
  },
  JAVASCRIPT: {
    name: "",
    class: "border border-white/10 bg-white/5",
    icon: Javascript,
  },
  HTML: {
    name: "",
    class: "border border-white/10 bg-white/5",
    icon: Html,
  },
  CSS: {
    name: "",
    class: "border border-white/10 bg-white/5",
    icon: CSS,
  },
  ASTRO: {
    name: "",
    class: "border border-white/10 bg-white/5",
    icon: AstroIcon,
  },
};

const PROJECTS = [
  {
    title: "01 _ City Weather Tracker",
    description:
      "A weather app with Html, Javascript and CSS. The app fetches weather data from an API and displays the current weather conditions, including temperature, humidity, and wind speed.",
    link: "https://frame993.github.io/Weather-app/",
    github: "https://github.com/Frame993/Weather-app",
    image: "/projects/weather.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "02 _ Coffee Listing",
    description:
      "Creating a section of the website with React and Tailwind CSS for a coffee listing interface. Use React to render the fetched coffee listings dynamically. Each listing should display key information about the coffee, such as its name, description, and price.",
    link: "https://frame993.github.io/Simple-Coffee-Listing/",
    github: "https://github.com/Frame993/Weather-app",
    image: "/projects/Coffee_Listing.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND],
  },
  {
    title: "03 _ Login & Register",
    description:
      "A login and registration form with React and Tailwind CSS. The site features a contact form and smooth animation effects.",
    link: "https://login-signup-components.netlify.app/",
    github: "https://github.com/Frame993/Login-SignUp-with-Maker",
    image: "/projects/login.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND],
  },
  {
    title: "04 _ Portfolio.dev",
    description:
      "Beautiful and responsive portfolio website with Astro, Tailwind CSS, and JavaScript. The site features a dark mode toggle, a contact form and a smooth scrolling effect.",
    link: "https://yordandev.netlify.app/",
    github: "https://github.com/Frame993/Portfolio-dev",
    image: "/projects/portfolio_dev.webp",
    tags: [TAGS.ASTRO, TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ title, description, image, tags, link, github }) => (
    <article class="mb-24">
      <h3 class="text-lg font-semibold text-white">{title}</h3>
      <a href={link} target="_blank" rel="noopener noreferrer">
        <div class="rounded-lg my-6 w-full overflow-hidden">
          <img
            class="hover:scale-105 transition-all duration-300"
            src={image}
            alt={`Screenshot of ${image}`}
          />
        </div>
      </a>
      <p class="mb-4 text-base font-thin text-gray-200 text-pretty">
        {description}
      </p>
      <div class="flex items-center justify-between mb-6 gap-2">
        <ul class="flex gap-2 flex-row flex-wrap">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex items-center text-xs gap-x-1 py-3 px-3 rounded-full ${tag.class}`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <SocialPill href={github}>
          <GithubIcon class="size-4 scale-70" />
          Repository
        </SocialPill>
      </div>
    </article>
  ))
}
